body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Snow layer */
.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 18px;
  user-select: none;
  opacity: 0.8;
  animation: fall 8s linear infinite;
}

@keyframes fall {
  0% { transform: translateY(0) translateX(0); }
  100% { transform: translateY(110vh) translateX(40px); }
}

.scene {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 85vw;
  max-width: 550px;
  height: 430px;
  padding: 30px;
  background: #111;
  border-radius: 20px;
  color: white;
  text-align: center;

  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(-10deg);
  animation: open 1.5s ease-out;

  transition: transform 0.1s ease-out;
  position: relative;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.35);
}

.panel.hide {
  opacity: 0;
  pointer-events: none;
}

@keyframes open {
  0% {
    transform: rotateX(90deg) translateZ(-200px);
    opacity: 0;
  }
  100% {
    transform: rotateX(20deg) rotateY(-10deg);
    opacity: 1;
  }
}

.content {
  width: 100%;
  height: 100%;
}

#contentVideo {
  display: none;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-container {
  margin-top: 0px;
  width: 100%;
  height: 0;
  padding-top: 52%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  height: 100;
  object-fit: cover;
  border-radius: 15px;
}

.price {
  margin-top: 6px;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 10px;
}

.new-price {
  color: #fff;
}

.btn-row {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
  font-weight: bold;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.arrow.left {
  left: -25px;
}

.arrow.right {
  right: -25px;
}

#productVideo {
  width: 80%;
  height: 80%;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

/* ON SALE BOX */
.best-deal {
  position: absolute;
  top: 18px;
  left: 18px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.08);
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay-panel {
  width: 85vw;
  max-width: 550px;
  height: 430px;
  background: #111;
  border-radius: 20px;
  padding: 30px;
  color: white;
  text-align: left;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.25);
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  color: red;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.overlay-panel p {
  font-size: 14px;
  line-height: 1.5;
}

.overlay-panel ul {
  margin: 10px 0 0 20px;
}
